* {
  box-sizing: border-box;
}

button {
  color: #fff;
  background-color: #0066FF;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  border: 0;
  font-size: 1rem;
}

button[aria-pressed] {
  position: relative;
  top: -0.25rem;
  left: -0.25rem;
  box-shadow: 0.125rem 0.125rem 0 #fff,
    0.25rem 0.25rem #0066FF;
}

button[aria-pressed="true"] {
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 0.15rem #0066FF,
    inset 0.25rem 0.25rem 0 #fff;
}

button[aria-pressed]:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem skyblue;
}

button[aria-pressed="true"]:focus {
  box-shadow: 0 0 0 0.25rem skyblue,
    inset 0 0 0 0.15rem #0066FF,
    inset 0.25rem 0.25rem 0 #fff;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.card h3 {
  margin: 0;
}

.card__title {
  display: flex;
  justify-content: space-between;
}

.card__body {
  margin-top: 20px;
}

.card__title .switch {
  position: absolute;
  width: calc(100% - 40px);
}

.switch {
  position: relative;
  width: 30px;
  height: 20px;
}

.switch [type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.switch__container {
  position: absolute;
  right: 0;
  width: 30px;
  height: 20px;
}

.switch__toggle {
  display: block;
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid lightgray;
}

.switch__toggle::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: darkgray;
}

[type="checkbox"]:checked + .switch__toggle::after {
  left: auto;
  right: 3px;
  background: #0066FF;
}

[type="checkbox"]:focus + .switch__toggle {
  box-shadow: 0 0 0 0.25rem skyblue
}
